@font-face {
  font-family: "AB-Equinox";
  src: url(/fonts/AB-Equinox.otf) format("opentype");
}
@font-face {
  font-family: "AurebeshAF-Canon";
  src: url(/fonts/AurebeshAF-Canon.otf) format("opentype");
  size-adjust: 80%;
}
@font-face {
  font-family: "AurebeshAF-CanonTech";
  src: url(/fonts/AurebeshAF-CanonTech.otf) format("opentype");
  size-adjust: 80%;
}
@font-face {
  font-family: "AurebeshAF-Legends";
  src: url(/fonts/AurebeshAF-Legends.otf) format("opentype");
  size-adjust: 80%;
}
@font-face {
  font-family: "AurebeshAF-LegendsTech";
  src: url(/fonts/AurebeshAF-LegendsTech.otf) format("opentype");
  size-adjust: 80%;
}
@font-face {
  font-family: "Aurebesh_Rodian";
  src: url(/fonts/Aurebesh_Rodian.otf) format("opentype");
}
@font-face {
  font-family: "AurebeshTypewriter-Regular";
  src: url(/fonts/AurebeshTypewriter-Regular.otf) format("opentype");
}
@font-face {
  font-family: "Droidobesh";
  src: url(/fonts/Droidobesh.otf) format("opentype");
}
@font-face {
  font-family: "LaptiNekAF";
  src: url(/fonts/LaptiNekAF.otf) format("opentype");
}
@font-face {
  font-family: "Maulobesh";
  src: url(/fonts/Maulobesh.otf) format("opentype");
}
@font-face {
  font-family: "Nirvanabesh";
  src: url(/fonts/Nirvanabesh.otf) format("opentype");
}
@font-face {
  font-family: "Skyhook";
  src: url(/fonts/Skyhook.otf) format("opentype");
}

:root {
  font-family: var(--font-standard);
  line-height: 1.5;
  font-weight: 400;

  color: #222;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-text-normal: #000d;
  --color-text-light: #0009;
  --color-background1: #eed;
  --color-background2: #bba;
  --color-accent1: #900;
  --color-accent2: #b50;
  --font-aurebesh: Droidobesh;
  --font-standard: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-size: clamp(100%, 0.25rem + 1.5vw, 150%);
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  color: var(--color-text-normal);
  background-image: linear-gradient(
    -30deg,
    var(--color-background1),
    var(--color-background2)
  );
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input[type="radio"],
input[type="checkbox"] {
  height: 0.75em;
  width: 0.75em;
}

#app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
}

h1 {
  font-size: clamp(1rem, 9vw, 1.75rem);
}

.aurebesh {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-family: var(--font-aurebesh);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-normal: #fffd;
    --color-text-light: #fff9;
    --color-background1: #111;
    --color-background2: #333;
  }
}

.dualtext-word {
  position: relative;
  display: inline-block;
  white-space: pre;
}
.dualtext-help {
  position: absolute;
  inset: 0;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: none;
  display: flex;
}
.dualtext-help > span {
  position: relative;
  min-width: 0;
}
.dualtext-help > [data-character=" "] {
  pointer-events: none;
}
.dualtext-help > span::before {
  content: attr(data-character);
  font-family: var(--font-aurebesh);
  color: transparent;
}
.dualtext-help > span::after {
  content: attr(data-character);
  pointer-events: none;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  padding: 0.1em 0.25em;
  min-width: 100%;
  font-family: var(--font-standard);
  font-size: clamp(0.75rem, 0.4em, 1rem);
  line-height: 1;
  font-weight: 400;
  color: var(--color-text-light);
  transition: all 0.2s ease-in;
}

.reference {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 1em;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
}

.readingbox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  text-align: left;
}

.readingbox-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.dualtext-help[data-hover="true"] {
  pointer-events: all;
}
.dualtext-help[data-hover="true"] > span {
  opacity: 0;
  --color-text-light: var(--color-accent1);
}
.dualtext-help[data-hover="true"] > span::after {
  top: auto;
  bottom: 70%;
  padding-bottom: 0.5em;
  font-size: 1em;
  background-image: linear-gradient(
    to top,
    transparent,
    var(--color-background1) 50%
  );
  border: 1px solid var(--color-text-light);
  border-width: 0;
  border-radius: 0.5em 0.5em 0 0;
  line-height: 1;
  text-align: center;
}
.dualtext-help[data-hover="true"] > span:hover {
  opacity: 1;
  box-shadow: 0 0 1em 0.2em var(--color-accent2);
  border-radius: 0.25em;
}
.dualtext-help[data-hover="true"] > span::after {
  transform: translateX(-50%) translateY(10%);
  opacity: 0;
}
.dualtext-help[data-hover="true"] > span:hover::after {
  transform: translateX(-50%) translateY(0%);
  opacity: 1;
}
